<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/styles.css"> 

</head>


<body>

    <div class="navbar">
        <a href="/cds">Albums</a>
        <a href="#Chat">Chat</a>
        <a href="/">Home</a>
    </div>

    <main class="main">
<!-- ********pasted from albums.js -->
        <!-- let id = req.params.id;
        let name = songs.songs[id].name;
        let imgURL = songs.songs[id].imgURL;
        let songTitles = songs.songs[id].songTitles;
    
        let songTitlesLi = "";
        songTitles.forEach(songTitle => songTitlesLi +=`<li>${songTitle}</li>\n`)
    
        res.send(`
            <h1>All Albums</h1>
            
            <ul>
                <li><a href="/albums/0"> 19</a></li>
                <li><a href="/albums/1"> 21</a></li>
                <li><a href="/albums/2"> 25</a></li>
                <li><a href="/albums/3"> 30</a></li>
            </ul>
    
    
            <h2>Album name: ${name}</h2>
    
            <h2>Songs:</h2> 
    
            <ul>
                ${songTitlesLi}
            </ul>
    
            <img src="${imgURL}" width="400px">
        `) -->

    </main>

</body>



</html>