<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/styles.css"> 

</head>


<body>

    <div class="navbar">
        <div class="navbar-brand"><a href="/">ADELE</a> </div>
        <div>
            <a href="/forum">Forum</a>
            <a href="/feedback">Feedback</a>
            <a href="/cds" class="selected">Albums</a>
            <a href="/">Home</a>
        </div>
    </div>

    <main class="main">
<!-- ********pasted from albums.js -->


            <ul class="albumTitles">
                <li><a href="/albums/0"> 19</a></li>
                <li><a href="/albums/1"> 21</a></li>
                <li><a href="/albums/2"> 25</a></li>
                <li><a href="/albums/3"> 30</a></li>
            </ul>
            
            <img src="<%= imgURL %>" width="300px" class="albumImg">
    
    
            <h2>Songs in <%= name %></h2> 
    
            <ul class="songTitles">
                <%- songTitlesLi %>
            </ul>
    


    </main>

</body>



</html>