<!DOCTYPE html>
<html>

<head>

    <title>Document</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">REMOVED 3.24 -->

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-brand"><a href="/">ADELE</a> </div>
        <div>
            <a href="/forum" class="selected">Forum</a>
            <a href="/feedback">Feedback</a>
            <a href="/cds">Albums</a>
            <a href="/">Home</a>
        </div>
    </div>

    <div class="main container">   


                <h1 class="forum-form-title">Send a note!</h1>
                <!-- we don't want page to re-render so input message just appears to the side: -->
                <form class="forum-form">
                    <div class="form-group">
                        <label for="forum-form-name">Name</label>
                        <input type="text" class="form-control" id="forum-form-name" placeholder="Enter your name">
                    </div>

                    <div class="form-group">
                        <label for="forum-form-title">Title</label>
                        <input type="text" class="form-control" id="forum-form-title"
                            placeholder="Title your message">
                    </div>

                    <div class="form-group">
                        <label for="forum-form-message">Message</label>
                        <textarea type="text" placeholder="Enter your message, then hit the send" class="form-control"
                            id="forum-form-message" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default pull-right">Send</button>
                </form>



                <div class="maincontent forum">
                    <h2 class="article-title">Recent</h2>
                    <div class="forum-messages">

                    </div>
                </div>


    </div><!-- container -->

    <script src="/js/forumClient.js"></script>


</body>

</html>