<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css"> 

</head>


<body>



    <div class="header">
        <div class="navbar">
            <div class="navbar-brand"><a href="/">ADELE</a> </div>
            <div>
                <a href="/forum">Forum</a>
                <a href="/feedback">Feedback</a>
                <a href="/cds">Albums</a>
                <a href="/" class="selected">Home</a>
            </div>
        </div>

        <div class="imageContainer">
        <img id="headerImage" class="heroImage" src="./images/hero/Adele-new.jpg" alt="">
        <p class="bio">
            Adele (full name Adele Laurie Blue Adkins) is a multiple Grammy award-winning singer-songwriter from London. 
            <br> 
            <br> 
            Her career started in 2006 upon graduating from the Brit School for performing arts. After a three-track demo was posted online she was quickly signed to XL Recordings, leading to the release of her breakthrough track Hometown Glory in 2007. 
            <br>
            <br>
            She has topped global charts with her albums 19, 21 and 25, and also performed the theme song to the James Bond film Skyfall in 2012. 
            </p>
        </div>
    </div>    

    
<!-- took the below out bc not sure if really necessary -->
    <!-- <h1><%= artistName  %> </h1>
    <p><%= bio  %> </p> -->
</body>



</html>