body{
    background-color: black;
    margin: 0px;
    color: white;
}

.header{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.bio{
  background-color: transparent;
  color: white;
  width: 600px;
  text-align: right;
  z-index: 1;
}

.heroImage{
    min-width: 100%;
    object-position: 0px 0px;
    margin-top: -525px;
    position: absolute;
    z-index: 0;

}

a{
    color: white
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    display: flex;
    color: #f2f2f2;
    /* text-align: center;
    align-items: flex-end; */
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: lighter;
  }

  .navbar-brand {
    display: flex;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    font-weight: lighter;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    color: rgb(161, 161, 161);
  }
  
  /* Main content */
  .main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
  }