body{
    background-color: black;
    margin: 0px;
    color: white;
}

.header{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

h1{
  display: flex;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: lighter;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
}

h2{
  display: flex;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
}

h3{
  display: flex;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content:flex-start;
}

.bio{
  position: absolute;
  background-color: transparent;
  color: black;
  width: 600px;
  text-align: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 36px;
  margin: 96px;
  z-index: 1;
}

.imageContainer {
  position: relative;
  margin-top: 100px;  
}

.heroImage{
    /* min-width: 100%;
    object-position: 0px 0px;
    margin-top: -600px;
    position: absolute;
    z-index: 0; */
    
    min-width: 100%;
    height: 130vh;
    margin-top: -60px;
    position: absolute;
    z-index: 0;
    object-fit: contain;


}

a{
    color: white
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    display: flex;
    color: #f2f2f2;
    /* text-align: center;
    align-items: flex-end; */
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: lighter;
  }

  .navbar-brand {
    display: flex;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    font-weight:normal;
  }
  
  /* Change color on mouse-over */
  .navbar a:hover {
    color: rgb(161, 161, 161);
  }

  /* Change color on active*/
  .navbar a:active {
    color: rgb(161, 161, 161);
  }

  .navbar a.selected {
    color: rgb(161, 161, 161);
  }
  
  /* Main content */
  .main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .albumTitles{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    font-size: 30px;
    font-weight: lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .albumTitles a{
    text-decoration: none;
    padding: 14px 36px;
  }

  .albumTitles a:hover{
    color: rgb(161, 161, 161);
  }

  .albumTitles a:active{
    color: rgb(161, 161, 161);
  }


  .songTitles{
    list-style: none;
    text-align: center;
    padding: 0px;
  }

  .albumImg{
    box-shadow: 0 0 10px white;
    margin: 24px; 
  }

  .bottomTemp{
    margin-top: 600px;
    z-index: 3;
  }

/* Style inputs with type="text" and textareas */
input[type=text], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;


}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: black;
  color: white;
  padding: 8px 20px;
  border: solid white 2px;
  border-radius: 16px;
  cursor: pointer;
  float: right;
}

/* When moving the mouse over the submit button, add a grey color */
button[type=submit]:hover {
  box-shadow: 0 0 10px white;
}

.forumElements{
  margin: 24px;
}

.forumContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 36px;

}

.forum-form{
  padding-left: 22px;
}

label{
  font-family: Arial, Helvetica, sans-serif;
}

#message{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.posts{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 32px;
}

.post-item{
  display: flex;
  flex-direction: row;
  padding: 0px 8px 16px 8px;
}

.post-head{
  padding-left: 8px;
}

.post{
  padding-left: 8px;
}

.post-delete{
  color:white;
  background-color: black;
  border: none;
}

.post-name{
  background-color: rgb(161, 161, 161);
  color: black;
  border-radius: 4px;
  padding: 2px 4px;
  margin-left: 8px;
  font-weight: bold;
}